.title {
  font-size: 48px;
  font-weight: 800;
  color: wheat;
}
.info-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  font-size: 24px;
  font-weight: 600;
  color: wheat;
}
