<div class="flex flex-col gap-8">
  <div *ngIf="popularMovies?.results!" @fadeIn>
    <p-carousel [value]="popularMovies?.results!" [numVisible]="8" [numScroll]="4">
      <ng-template let-product #item>
        <app-movie *ngIf="!product?.showElse" [movie]="product" [imageUrl]="environment.posterImageUrl"></app-movie>
        <div *ngIf="product?.showElse" class="show-else-block flex justify-center">
          <p-button *ngIf="popularMoviesPage < popularMovies?.total_pages!" (click)="loadMorePopularMovies()" class="flex items-center" label="Show Else" icon="pi pi-check" size="large" />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="flex justify-center">
    <p-floatlabel>
      <input pInputText id="over_label" [formControl]="searchTextControl" autocomplete="off" />
      <label for="over_label">Find movie</label>
    </p-floatlabel>
  </div>

  <div *ngIf="getFilteredMovies" class="flex justify-center">
    <p-carousel [value]="filterMovies?.results!" [numVisible]="8" [numScroll]="4">
      <ng-template let-product #item>
        <app-movie *ngIf="!product?.showElse" [movie]="product" [imageUrl]="environment.posterImageUrl"></app-movie>
        <div *ngIf="product?.showElse" class="show-else-block flex justify-center">
          <p-button *ngIf="filterMoviesPage < filterMovies?.total_pages!" (click)="loadMoreFilterMovies()" class="flex items-center" label="Show Else" icon="pi pi-check" size="large" />
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
